{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid page-padding">
    <div class="row">
        {% for image in images %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="image" style="background-image: url('{{ image.image.url }}')"></div>
            <div class="grid-location">
                <img src="{% static 'images/pin.svg' %}" alt="" />
                <p class="m-0 ml-2">{{ image.location }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
